<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.platform.system.mapper.SysMessageMapper">

    <select id="countUnreadByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sys_message
        WHERE receiver_id = #{userId} AND is_read = 0
        AND send_status = 1
    </select>

    <select id="selectMessageByUserId" resultType="com.micro.platform.system.entity.SysMessage">
        SELECT * FROM sys_message
        WHERE receiver_id = #{userId}
        ORDER BY create_time DESC
    </select>

</mapper>